[2018-02-14 11:03] michzimny opened #1 "oer.up2university.eu redirection"
https://oer.up2university.eu/ redirects to Geant's instance https://services.oer.geant.org/

Maybe it would be better to redirect to the poject's front-end portal, i.e. https://eduoer.up2university.eu/ ?

[2018-02-14 13:13] vogias commented on #1
Done, thanks for the comment!

[2018-02-14 13:13] #1 closed, assigned to vogias

[2018-02-19 08:41] andreacorleto commented on #1
Firefox (v. 58.0.2): edit buttons disappear when clicking on the HTML button

I have uploaded a video in a Moodle (test platform) page from eduOER. The video is ok and uploading from repository works fine. When I'm in editing mode, if I click on the HTML button the whole edit buttons disappear.
This is the error I got:
Unchecked lastError value: Error: Could not establish connection. Receiving end

[2018-02-19 08:50] andreacorleto opened #2 "firefox bug when editing page"
Firefox (v. 58.0.2): edit buttons disappear when clicking on the HTML button

I have uploaded a video in a Moodle (test platform) page from eduOER. The video is ok and uploading from repository works fine. When I'm in editing mode, if I click on the HTML button the whole edit buttons disappear.
This is the error I got:
Unchecked lastError value: Error: Could not establish connection. Receiving end

[2018-02-19 10:07] michzimny commented on #2
@athird, are you able to say who should we assign this issue to?

[2018-02-19 10:57] athird commented on #2
I'm not sure, could it be a PuMuKit problem? @rubenrua?

[2018-02-20 09:17] rubenrua commented on #2
I can't reproduce this error with Firefox 56 (and Linux). PuMuKIT doesn't use any asset from https://collector.githubapp.com/collect.

Looks like an issue with any installed extension. Please could you disable all the extensions and try again.

[2018-02-26 10:18] michzimny commented on #2
@andreacorleto, I'm trying to reproduce. Could you please describe how have you uploaded the video from eduOER? You added "file" to a course or by other activity?

[2018-02-27 10:35] andreacorleto commented on #2
@michzimny sorry michal, I'm still not able to login into the test platform with SSO so I can't check right now. I think it was a file added to a course but I'm not sure.

[2018-02-28 15:39] michzimny commented on #2
@andreacorleto, https://learn.test.up2university.eu/ is just brought back to work with SSO.

[2018-03-05 14:11] andreacorleto commented on #2
@michzimny It was a page with a video uploaded via pumukit. Anyway, today the issue seems to have vanished and edit buttons work properly.

[2018-03-05 14:13] michzimny commented on #2
Ok, thanks for checking it!

[2018-03-05 14:13] #2 closed, assigned to nobody

[2018-03-07 13:38] vasilg opened #3 "Change tooltip text on the text editor toolbar"
Please, change the tooltip text of the orange camera icon on the text editor toolbar to "Select eduOER content".

[2018-03-07 19:40] michzimny commented on #3
@vasilg, is it to be changed somewhere in eduOER or in Moodle?

[2018-03-08 08:20] vasilg commented on #3
in moodle

[2018-03-08 09:40] michzimny commented on #3
Ok, I'm adding a relevant issue to the list of Moodle issues and closing this one.

https://github.com/up2university/docker-moodle/issues/59

[2018-03-08 10:04] athird commented on #3
I believe this button is created by the PuMuKit plugin and gets its label from there - @rubenrua, is it possible to change it in the plugin?

[2018-03-08 10:44] rubenrua commented on #3
ok. I will make a new pull request.

[2018-03-08 12:27] rubenrua commented on #3
@vgoya proposes too:
 * Change the icon (from the orange camera to the eduOER logo)
 * Use the eduOER logo in the modal:

![image](https://user-images.githubusercontent.com/195745/37150946-ef75cc20-22d3-11e8-8957-36a43bd90544.png)

[2018-03-08 15:44] rubenrua commented on #3
Commits:
* https://github.com/teltek/PuMuKIT2-up2u-eduoer-bundle/commit/d59d423e55dec0315106210d7006db7d06e2de08
* https://github.com/teltek/PuMuKIT2-up2u-eduoer-bundle/commit/22936fd300a32bf4b321645981b73945d9901c39
* https://github.com/teltek/PuMuKIT2-up2u-eduoer-bundle/commit/6045c6532d1144d8d28faaf023f606a63ad45a20

[2018-03-08 15:52] rubenrua commented on #3
Pull request https://github.com/up2university/docker-moodle/pull/60

[2018-03-16 11:14] iliashatzakis opened #4 "eduOER player does not support flash LOs?"
eduOER player does not support flash LOs? or is it a web browser issue?

[2018-03-19 12:44] vasilg opened #5 "multiple videos"
When inserting a video from the eduOER button, the video appears in the content box
more than once.
![multiple videos](https://user-images.githubusercontent.com/36266155/37596167-f9df1492-2b83-11e8-91f9-243b52f26745.png)

[2018-03-27 12:06] michzimny commented on #3
Is it solved?

[2018-03-28 11:04] rubenrua commented on #3
Yes. Pull request is merged.

[2018-03-28 12:30] #3 closed, assigned to nobody

[2018-04-06 09:25] rubenrua commented on #4
For example with:

* Player: https://eduoer.test.up2university.eu/video/5a3d15bc35f52583348b501b
* Video: http://photodentro.edu.gr/video/retrieve/2587/megalheisodos.flv

_Capture Google Chrome without flash_
![17480_no_flash](https://user-images.githubusercontent.com/195745/38413515-2b326498-398c-11e8-9430-dbad6bc4fcec.png)

_Capture allowing flash in Google Chrome_
![17480_enable_flash](https://

[2018-04-06 09:32] rubenrua commented on #4
@iliashatzakis could you give us links to test it?

[2018-04-06 11:57] iriadp commented on #5
Dear Vasiliki,

I was trying to reproduce the error you get but it didn't happen to me.

I suppose by eduOER button you mean this one, don't you?
![eduoer_button](https://user-images.githubusercontent.com/22480039/38419803-0e64223c-39a2-11e8-9589-0f9a30d1f933.png)

Could you please specify us which operating system and browser are you using?
Is it happening always?
Any other information you could

[2018-04-24 07:36] rubenrua commented on #5
@vasilg, Could you please specify us which operating system and browser are you using? Is it happening always?

[2018-04-24 09:44] vasilg commented on #5
Hi all,

sorry for the late answer. To be honest, i can no more reproduce the error....:)

[2018-04-24 09:45] #5 closed, assigned to rubenrua, pnieto

[2018-05-30 13:38] antoniovieiradecastro opened #6 "EduOeR #1 first time user access"
![image](https://user-images.githubusercontent.com/29204681/40723322-99df4b72-6416-11e8-91b6-715d4d5220b1.png)

Is that normal... must we told teachers how what to do or it could be solved?

Best regards
antonio

[2018-05-30 13:40] michzimny commented on #6
It's not normal, thank you for reporting.

GRNET should have a look at the configuration of SSL certificates.

[2018-05-30 13:42] michzimny commented on #6
@iliashatzakis

[2018-05-30 13:43] iliashatzakis commented on #6
Antonio,

You must always try the test instance at this stage:

https://eduoer.test.up2university.eu/

From: Antonio Vieira de Castro <notifications@github.com>
Sent: Wednesday, May 30, 2018 4:39 PM
To: up2university/eduoer <eduoer@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [up2university/eduoer] EduOeR #1 first time user access (#6)

[image]<https://user-images.gi

[2018-05-30 13:44] antoniovieiradecastro opened #7 "EduOer #2 Acess "By repository catalogue""
When we acess using the option "By repository catalogue" and we choose for instance EDUCAST we will be conducted to another LOGIN

![image](https://user-images.githubusercontent.com/29204681/40723901-c49e2ee0-6417-11e8-8a1b-4358e3d31f95.png)
![image](https://user-images.githubusercontent.com/29204681/40723909-c8114404-6417-11e8-833d-1a7948f32370.png)

How to solve this?

Users that do not have cre

[2018-05-30 14:09] iliashatzakis commented on #7
I see, Vicente could you see this?
I thought we were supposed to filter out those repos…
And I see that through Moodle too, the videos of EDUCAST do not play…
Perhaps we should filter out.. except if Nelson or Antonio could help with FCCN’s policy…

From: Antonio Vieira de Castro <notifications@github.com>
Sent: Wednesday, May 30, 2018 4:44 PM
To: up2university/eduoer <eduoer@noreply.github.com>
C

[2018-05-30 14:26] iliashatzakis commented on #7
Hi Ilias,

All the videos available in Educast are public and available without the
need to login on the platform. Can you give me an example to see what
are you talking about?

Best regards,

Nelson Dias

A 2018-05-30 15:08, Ilias Hatzakis escreveu:

Links:
------
[1]
https://user-images.githubusercontent.com/29204681/40723901-c49e2ee0-6417-11e8-8a1b-4358e3d31f95.png
[2]
https://user-images.githu

[2018-05-30 20:44] antoniovieiradecastro commented on #7
Hi Nelson and Elías

I send two pictures to explain

Can you shared them with Nelson.

Tomorrow I Will make a different test but today when I select a video from Educast it asked me to register.

Nelson, please try it and let me know.

All the best
________________________________
De: iliashatzakis <notifications@github.com>
Enviado: 30 de maio de 2018 15:26:22
Para: up2university/eduoer
Cc: Antón

[2018-05-30 20:45] antoniovieiradecastro commented on #6
Thanks Elías.,

I will try that tomorrow.

Best regards
António
________________________________
De: iliashatzakis <notifications@github.com>
Enviado: 30 de maio de 2018 14:43:34
Para: up2university/eduoer
Cc: António Castro; Author
Assunto: Re: [up2university/eduoer] EduOeR #1 first time user access (#6)

Antonio,

You must always try the test instance at this stage:

https://eduoer.test.up2unive

[2018-05-30 22:51] antoniovieiradecastro opened #8 "KnockPlop mirrored shared scrren"
After share an application during a test it appers mirrored

![image](https://user-images.githubusercontent.com/29204681/40751677-24a9299c-6464-11e8-962a-6f285d24d55e.png)

 Best regards

Antonio

[2018-06-04 16:17] vgoya commented on #7
The issue is only with EduCAST- FCCN

FCCN will filter out non open videos. Mail from Nelson(FCCN) 4th Jun:

Hi Vicente and Ilias,

I noticed that we were sharing private content that required authentication.

We have different access permissions to content in Portugal, some more restricted than others. We will start to expose to eduOER only the public videos without the need to log in.

We alread

[2018-06-04 16:19] vgoya commented on #7
Now we need a new harvesting cycle from GRNET. Ilias will take care

[2018-06-06 08:33] iliashatzakis commented on #7
a harvesting cycle went on for FCCN yesterday BUT delivered only broken links... something is disturbed, Nelson?

[2018-06-08 13:55] michzimny opened #9 "Year of recording"
I have searched for text "natura" in the both EduOER portals:
- production: https://eduoer.up2university.eu/
- testing/staging: https://eduoer.test.up2university.eu/

I have received the same videos at both instances. However 5 videos in production are annotated that they were recorded in 1970. The same 5 videos in testing instance are annotated with "Recorded: Unknown", which is probably the trut

[2018-06-08 14:04] michzimny opened #10 "Problem with different EduOER instances"
We have two working instance of EduOER portal:
- production: https://eduoer.up2university.eu/
- testing/staging: https://eduoer.test.up2university.eu/

It seems they both response with the same results (apart from some minor details: #9).

However, when I go to Moodle at https://learn.test.up2university.eu/ and try to add eduOER content, then I got different results.

For instance, looking for tex

[2018-06-12 09:50] iliashatzakis commented on #9
yes, the problem has been solved at the test instance, but has not passed to the production one... you think we should do it now?

[2018-06-12 09:56] michzimny commented on #9
I think so. "Unknown" seems to be more the truth than "1970" :)

[2018-06-12 10:10] iliashatzakis commented on #10
1. because in the portal we deliver also links (not videos). If you filter by format, you will see that we have some 70k links. In Moodle we are obliged to deliver only videos

2. hmm... good question... Pablo? @pnieto .... the "test" one should be linked but i see some 1970 items and i am confused now....

[2018-06-26 13:57] vgoya commented on #7
Any news about this issue ??

[2018-06-29 09:52] michzimny opened #11 "The certificate of EduOER portal has expired"
http://eduoer.test.up2university.eu/

[2018-07-04 11:01] iliashatzakis commented on #11
this is closed i believe, how does one close?

[2018-07-04 11:09] michzimny commented on #11
Yes, it seems fixed.

Maybe we could automatically monitor it for the future to not be surprised in the next 3 months (i.e. certificate's expiration date)?

[2018-07-06 10:50] pnieto commented on #10
@rubenrua Could you check the last comment?

[2018-07-25 12:09] #6 closed

[2018-07-25 12:11] michzimny commented on #8
It happens to me too, from time to time. I'm not able to reproduce on demand, or determine what it depends on.

[2018-07-26 09:38] misi commented on #8
The mirroring is in the fixed removed in case of screensharing.
Fix is underway to up2u branch.
I will be on holiday until Monday. So please be patient until it in case of any issue with it.
Please test it...

THX!!

[2018-11-19 14:24] michzimny commented on #11
It's an issue again. https://eduoer.test.up2university.eu/ has out-dated certificate.

Please also see my previous comment... :)

[2018-11-19 14:24] michzimny commented on #10
ping @rubenrua

[2018-11-19 14:24] michzimny commented on #9
What's the status of this issue?

[2018-11-19 15:13] rubenrua commented on #10
The `production.env` and `test.env` are:

| env | Moodle | PuMuKIT up2u eduOER |
|----|-----|-----------|
| **production** | https://learn.up2university.eu/  | https://eduoer.up2university.eu/ |
| **test** | https://learn.test.up2university.eu/ | https://eduoer.test.up2university.eu/ |

[2018-11-19 15:16] michzimny commented on #10
Thanks.

[2018-11-19 15:16] #10 closed, assigned to rubenrua, iliashatzakis

[2018-11-20 09:16] lionick commented on #11
I contacted Kostas for this issue and told me that TELTEK had fixed this in the past! So @rubenrua can you please see this issue?

[2018-11-20 09:17] lionick commented on #9
@rubenrua is that a front end fix? Or I must do something?

[2018-11-20 09:59] rubenrua commented on #11
I asked it to the teltek sysadmin @pnieto

[2018-11-20 11:05] rubenrua commented on #9
No more 1970. PuMuKIT set the UNIX Epoch time for the unknown dates:

https://eduoer.test.up2university.eu/searchmultimediaobjects?tags%5B%5D=&tags%5B%5D=&year=&duration=&type=&search=%22On+the+nature+of+things%22
https://eduoer.up2university.eu/searchmultimediaobjects?tags%5B%5D=&tags%5B%5D=&year=&duration=&type=&search=%22On+the+nature+of+things%22

But we have some content previous to the 1970.

[2018-11-20 14:02] #9 closed, assigned to iliashatzakis, lionick

[2018-11-30 11:07] lionick opened #12 "User experience issues"
I added some issues about user exprerience from eduOER.

1. Go to https://eduoer.up2university.eu/category/1  try to select a value from filter Provider. (Channel Health And Medicine) No provider values or other filter values are available. Year filter shows some weird values.

2. Go to Advanced Search > Select a Provider > Then select a Year from Filters > Click Browser’s Back Button > It shows l

[2018-12-03 17:08] rubenrua commented on #12
From: https://github.com/up2university/eduoer/issues/9#issuecomment-440234791

What is the correct data in Ariadne for unknown data? 0000-00-00?

[2018-12-04 07:50] lionick commented on #12
I think that these items dont have any date at "contributors" element neither 0000-00-00.
e.g
https://oer.up2university.eu/search/v1/akif?q=6%20Snapshots%20:%20Process%20II

[2018-12-05 10:08] michzimny commented on #4
Could we close this one?

[2018-12-05 10:10] michzimny opened #13 "xAPI integration"
Would it be possible to integrate eduOER portal with xAPI protocol to send records of user activities to a Learning Record Store?

More information on our LRS: https://trello.com/c/tk8eUtkR

CC @rubenrua

[2018-12-05 12:19] lionick opened #14 "Repository deleted from search API, still showing on eduOER portal"
For example:
UNED - https://services.oer.geant.org/search/v1/akif?set=UNED (0 results)

RSS Links:
https://canal.uned.es/2010/arca.xml,https://canal.uned.es/2009/arca.xml,https://canal.uned.es/1991/arca.xml,https://canal.uned.es/1960/arca.xml,https://canal.uned.es/1974/arca.xml,https://canal.uned.es/1968/arca.xml,https://canal.uned.es/1964/arca.xml,https://canal.uned.es/1973/arca.xml,https://canal

[2018-12-05 12:32] lionick opened #15 "Repositories that deleted from geant search API still on eduOER portal"
For example:
**PHOTODENTRO_VIDEO** was on both search API instances. I deleted it from geant search API keeping it only in up2u search API instance but seems to be still on eduOER portal.

https://oer.up2university.eu/search/v1/akif?set=PHOTODENTRO_VIDEO - 745 results
https://services.oer.geant.org/search/v1/akif?set=PHOTODENTRO_VIDEO - 0 results
On eduOER is shown 1709 items.

To be more specific

[2018-12-05 12:39] lionick opened #16 "Reharvesting FCCN results to duplicate items"
I reharvested FCCN in order to bring new items but it seems that now have duplicated items on eduOER portal.
Search API:
https://services.oer.geant.org/search/v1/akif?set=FCCN - 7900 results
https://oer.up2university.eu/search/v1/akif?set=FCCN - 0 results
On eduOER is showing 18839 items.

https://eduoer.up2university.eu/searchmultimediaobjects?tags%5B%5D=FCCN&tags%5B%5D=&year=&duration=&type=&sea

[2018-12-05 15:57] rubenrua commented on #13
CC @pnieto

[2018-12-05 16:54] rubenrua commented on #14
CanaUned ARCA endpoints stopped working at January 2018. We can try to enable it again, but the ARCA proyect is finished.

@lionick Could we add OAI-PMH endpoints or podcast feed? Which do you prefer?

[2018-12-06 07:45] lionick commented on #14
Thank you Ruben. OAI-PMH would be fine!

[2018-12-06 09:22] lionick commented on #4
yes Michal i am closing this issue.

[2018-12-06 09:22] #4 closed, assigned to rubenrua, pnieto

[2018-12-10 11:17] rubenrua commented on #13
@michzimny Could you give me access to [the trello](https://trello.com/c/tk8eUtkR)?

[2018-12-10 11:20] michzimny commented on #13
@rubenrua, you should just be given an invitation email from trello.

[2018-12-10 12:41] rubenrua commented on #13
Thanks

[2018-12-20 09:46] rubenrua commented on #14
The OAI-PMH endpoint is https://canal.uned.es/oai.xml. See [GetRecord Example](https://canal.uned.es/oai.xml?verb=GetRecord&metadataPrefix=oai_dc&identifier=5a6f1148b1111f7c4e8b456a)

Metadata contains three `dc:identifier`:
 * `iframe` URL to embed the player: https://canal.uned.es/iframe/5a6f1148b1111f7c4e8b456a
 * `video` page url: https://canal.uned.es/video/5a6f1148b1111f7c4e8b456a
 * MP4/MP3

[2018-12-20 12:22] rubenrua commented on #16
It should be fixed

[2018-12-20 12:22] rubenrua commented on #15
It should be fixed

[2018-12-21 08:04] lionick commented on #16
Thank you Ruben! Just one question:
Can I now re-harvest repositories without creating duplicates?

[2018-12-21 08:06] lionick commented on #15
Thank you Ruben!
Just one small issue. KALLIPOS is on HE (https://services.oer.geant.org/search/v1/akif?set=KALLIPOS) but on eduOER platform is shown as K12.

[2018-12-21 08:08] lionick commented on #14
Thank you Ruben I will start the preparation for harvesting UNED.

[2018-12-21 08:08] #14 closed, assigned to rubenrua

[2019-01-09 08:55] lionick opened #17 ""Videos from same series" Section still having date 1/01/1970"
For example https://eduoer.up2university.eu/video/5c1b75ece11a2825388b4571

![screenshot from 2019-01-09 10-52-43](https://user-images.githubusercontent.com/44701697/50887797-cb990400-13fc-11e9-8efb-914217e868cc.png)

[2019-01-10 15:30] michzimny opened #18 "Web analytics"
Please add Matomo tracking code to all pages as documented here:
https://wiki.geant.org/display/UP2U/Web+Analytics

[2019-01-11 07:57] lionick opened #19 "Videos with wrong recorded date"
Go to https://eduoer.up2university.eu/searchmultimediaobjects
There are videos that have recorded date with value 11/01/2019 (today).
This is not right if we look at searchAPI.

For example:

![screenshot from 2019-01-11 09-47-42](https://user-images.githubusercontent.com/44701697/51020054-04181980-1586-11e9-8534-db61b7b6c26b.png)

Lets take the first item "Collaborative chaos in the studio and la

[2019-01-14 15:33] andreacorleto opened #20 "eduOER app issues"
Tested on Samsung Galasy S7 - Android version 8.0.0

- advanced search link not working (but currently is not working even on the web browser https://eduoer.up2university.eu/searchmultimediaobjects, see picture attached gateway timeout)

- some OER videos give back error not displaying video content (maybe is a flash player issue). Some examples in the pictures attached. Below web links for the sa

[2019-01-24 11:12] rubenrua commented on #16
Can close this issue? Reopen if necessary

[2019-01-24 13:09] rubenrua commented on #15
Fixed

Can close this issue? Reopen if necessary

[2019-01-30 11:59] michzimny commented on #18
@rubenrua, is it considered done?

[2019-01-30 13:10] rubenrua commented on #18
Yes

You can check it in view-source:https://eduoer.up2university.eu/

[2019-01-30 13:15] #18 closed, assigned to rubenrua

[2019-01-31 08:31] lionick commented on #15
I think this problem still remains. KALLIPOS is shown as a K12 repository in  eduOER platform but is a HE repository.

[2019-02-07 10:02] lionick opened #21 "Videos From Plymouth University don't play"
I saw that in console

![screenshot from 2019-02-07 12-01-25](https://user-images.githubusercontent.com/44701697/52403745-20996a00-2ad0-11e9-980b-35f6958f7436.png)

Can we fix that?
@vgoya

[2019-02-07 11:31] rubenrua commented on #21
Links:

* potal: https://eduoer.up2university.eu/video/5c5ac546e11a28045d8b4aa1
* track: http://content.upmedia.plymouth.ac.uk/upmedia/flash/f8ba3ee673e4f48d_hi.mp4

<details>
 <summary>ffprobe output</summary>

[code]

</details>

[2019-02-07 11:33] rubenrua commented on #21
Tested:

* Google Chrome 72: ✓
* Firefox 65: ✗
* Safari: ✓
* Edge: TODO

[2019-02-07 11:42] rubenrua commented on #21
About firefox:

[code]

[2019-02-08 07:19] lionick opened #22 "Two repositories don't show up in eduOER"
Two repositories don't show up in eduOER although there are in search API.

For example Up2U_Repository disappeared from eduOER today. It is still in search API:
https://oer.up2university.eu/search/v1/akif?set=Up2U_Repository

And POUDRE_SCHOOL_DISTRICT never showed up but it is in search API:
https://oer.up2university.eu/search/v1/akif?set=POUDRE_SCHOOL_DISTRICT

@vgoya

[2019-02-08 08:07] #16 closed, assigned to rubenrua

[2019-02-12 13:14] lionick opened #23 "Video has a valid link but it does not play."
This video https://eduoer.up2university.eu/video/5c011225e11a28b3348b457c
has a valid link(http://media-podcast.open.ac.uk/feeds/at308-imperial-rome-and-ostia/at308.01rome04.m4v) which is playing when you click on it. But it shows the following error in eduOER platform.

![screenshot from 2019-02-12 15-13-54](https://user-images.githubusercontent.com/44701697/52637762-de5d9780-2ed8-11e9-8509-9dbae

[2019-02-12 15:07] Alfro commented on #23
@rubenrua The player iframe is trying to load a mh_iframe:
[code]

[2019-02-14 15:22] lionick opened #24 "Problem when trying to add another filter at search"
Go to
https://eduoer.up2university.eu/searchmultimediaobjects/DEUTSCHE_WELLE
And try to add another filter. e.g Language -> English
It loads without doing anything

![screenshot from 2019-02-14 17-21-32](https://user-images.githubusercontent.com/44701697/52796708-0128b100-307d-11e9-9c82-f4e43fb9d820.png)

Console Error:
TypeError: elem.form.submit is not a function

@vgoya @iliashatzakis

[2019-02-14 20:29] rubenrua commented on #24
fixed

[2019-02-15 07:54] lionick commented on #24
Thank you!

[2019-02-15 07:54] #24 closed, assigned to rubenrua

[2019-02-15 07:56] lionick opened #25 "Subject Filter doesn't work"
Go to https://eduoer.up2university.eu/searchmultimediaobjects.

Try to select a value from **Subject** Filter. There is not any value.

@vgoya @iliashatzakis

[2019-02-15 08:31] rubenrua commented on #25
ping @alfro

[2019-02-15 13:27] lionick opened #26 "Problem with UNED videos"
First of all if we look at ARIADNE
https://services.oer.geant.org/search/v1/akif?set=UNED we have 35729 items while in eduOER shows that there are 49795 items. (???)

Secondly, there are some videos that dont play from UNED e.g https://eduoer.up2university.eu/video/5a5e2ed5e11a2831698bf9d6 (also many of the videos on the right section). Although I think that if you solve the first issue these vide

[2019-02-18 06:11] Alfro commented on #23
Hi @lionick, after the latest run of the synchronization script the issue should be fixed.

[2019-02-19 08:45] lionick commented on #23
Thank you!

[2019-02-19 08:45] #23 closed, assigned to rubenrua

[2019-02-20 15:48] Alfro commented on #21
To sum up, this format is not supported by firefox (video/3gpp). Also, the ARIADNE endpoint says the format is video/mp4.

Normally we hide unsupported formats (like .flv videos) but in this case we can't because we are trusting the ARIADNE info.

Could ARIADNE figure out the real mimetype? That way those videos would be hidden in the platform.

[2019-02-20 15:50] Alfro commented on #21
To sum up, this format is not supported by firefox (video/3gpp). Also, the ARIADNE endpoint says the format is video/mp4.

Normally we hide unsupported formats (like .flv videos) but in this case we can't because we are trusting the ARIADNE info.

Could ARIADNE figure out the real mimetype? That way those videos would be hidden in the platform.

Also, they can't be played on the eduOER android app

[2019-02-22 09:34] Alfro commented on #15
Hello @lionick, I think KALLIPOS appears correctly marked now. Could you review it and solve the issue if so?

[2019-02-22 09:44] Alfro opened #27 "Update repositories without images/description"
As of today, there are several repos without improved metadata (image/title/description) on eduoer.up2university.eu. I'm creating this issue to keep track of them.

The repos metadata should be added here: https://github.com/teltek/PuMuKIT2-up2u-eduoer-bundle/tree/master/Resources/data/repos_data

**Missing repos:**
- [x] HE - DALARNA_UNIVERSITY
- [x] K12 - ARTSEDGE
- [x] K12 - American_Museum_of_

[2019-02-22 10:14] Alfro commented on #27
PODDIUM_UP2U Added and corrected issues with some images.

@iliashatzakis @lionick How should we go about adding the rest?

[2019-02-22 10:32] Alfro commented on #22
Hi @lionick

- The Up2U_Repository should appear now.
- The POUDRE_SCHOOL_DISTRICT was synced, but the videos are blocked, as their format is video/quicktime and they are marked as external links.

[2019-02-22 13:50] lionick commented on #21
Hello @Alfro, I removed PLYMOUTH_UNIVERSITY from ARIADNE as all videos have video/3gpp format. Thanks. So you can remove it from eduOER also.

[2019-02-22 13:54] lionick commented on #15
Thanks a lot @Alfro!

[2019-02-22 13:54] #15 closed, assigned to rubenrua

[2019-02-22 13:54] lionick commented on #22
Thanks Alfonso! I am closing the issue.

[2019-02-22 13:54] #22 closed, assigned to rubenrua

[2019-02-25 08:11] lionick commented on #27
Hi Alfonso,
I have put some descriptions but I think I dont have permissions to put the images to the desired folder.
Do you want me to put them in the same folder as the json files?

[2019-02-25 10:25] Alfro commented on #27
Hi Nikos,

Yes, just upload the images to the same folder than the json files for now.

[2019-02-25 15:52] Alfro opened #28 "NASA Repository: Wrong video duration"
We have noticed some of the videos from the NASA repository have the wrong duration on the thumbnail. e.g. this one shows 8 minutes but it's just 1'21' :
https://eduoer.up2university.eu/searchmultimediaobjects/NASA?search=%22Hubblecast+115%22&tags%5B%5D=&language=&year=&duration=&type=

Checking ARIADNE, the videos with the wrong duration have the duration format in seconds: https://oer.up2univers

[2019-02-25 15:52] Alfro opened #29 "NASA Repository: Videos with no thumbnails"
Some of the videos don't have a thumbnail on eduOER, e.g this one: https://oer.up2university.eu/search/v1/akif/?set=NASA&q=%22NASA%20ScienceCast%20288:%20Enjoying%20the%20Geminids%20From%20Above%20and%20Below%22

These videos have an url for the thumbnail but the url throws a 403: http://s3.amazonaws.com/smd.nasa.gov/episode_thumbs/288_ISSMeteorGeminids.jpg

@lionick could you take a look at this?

[2019-02-26 07:24] lionick commented on #28
Hi Alfro, I have checked them and I saw that itunes rss has the wrong duration itself so I dont think we can do something as this is coming immediately from the source.

[2019-02-26 07:26] lionick commented on #29
This problem comes from NASA's RSS. I will make a re-harvest to see if this problem remains. If so, I dont think we can do much.

[2019-02-26 17:22] Alfro commented on #26
Sorry I haven't updated this task but we have already figured out what the issue is and we are working on removing the non-existing videos.

[2019-02-27 09:19] Alfro commented on #26
Hi @lionick, the eduOER platform should now show the correct number of resources, and there shouldn't be unplayable videos anymore.

[2019-02-28 08:38] lionick commented on #26
Thanks!!

[2019-02-28 08:38] #26 closed, assigned to rubenrua

[2019-02-28 08:39] lionick commented on #21
When you remove PLYMOUTH_UNIVERSITY, please remove also NSF repository as its videos seem to be broken links.

[2019-02-28 12:38] Alfro commented on #19
Hello @lionick. From the example you included, the date is not in the correct format
If you take a look at the `contributors.1.date` field, only the year, `2014` appears, instead of the usual YYYY-MM-DD format. This issue is similar to #28 in that the format is not what we expect and thus the result formed is invalid.

For these cases, as we can't have a date without day/month, we can either set t

[2019-03-05 14:52] Alfro commented on #21
Hi @lionick both repositories should now be removed.

[2019-03-06 07:47] lionick commented on #21
Thank you Alfonso!

[2019-03-06 07:47] #21 closed, assigned to rubenrua

[2019-03-07 10:13] Alfro commented on #19
Hi @lionick I have applied the changes to the script to also read "year only" dates, but I see the example mentioned above is an external link, and thus does not appear on the platform.

[2019-03-08 09:54] lionick commented on #19
Hi @Alfro
Another example is: https://oer.up2university.eu/search/v1/akif?identifier=up2u_UAL_http://ualresearchonline.arts.ac.uk/7176/1/Mark_Making-_Exploring_the_role_of_the_Arts_for_People_with_a_dementia.mp4 which is the second item in eduOER front page.

[2019-03-08 10:55] Alfro commented on #19
Thanks for the example!
In that case, it seems the changes to the script have turned out well, since the date appears as 01/01/2014 on pre-production: https://eduoer.test.up2university.eu/video/5a3db0f135f525e3418b6ffc
I'll tag the changes and deploy to production, then.

[2019-03-12 13:49] lionick opened #30 "Some videos of CampusDoMar dont play"
For example:
https://eduoer.up2university.eu/video/5c7d01a7e11a28aa0b8b5037
https://eduoer.up2university.eu/video/5c814840e11a2838238b4e07
https://eduoer.up2university.eu/video/5c81493ee11a2838238b5957

[2019-03-12 19:44] rubenrua commented on #30
Link:
https://services.oer.geant.org/search/v1/akif/?q=geantoer_CAMPUSDOMAR_https://tv.campusdomar.es/iframe/5c7413108f42085964f5c8fc

[2019-03-15 16:18] Alfro commented on #19
Hi @lionick
The changes were deployed to production, and after the script ran it seems the date appears now correctly in production as well: https://eduoer.up2university.eu/video/5a5f4205e11a28ef6e8b7774

[2019-03-18 04:55] Alfro commented on #25
Hi @lionick
I didn't update this task earlier, but this issue was already fixed. Could you confirm and solve the issue?

[2019-03-18 05:00] Alfro commented on #30
@lionick they should play correctly now.

[2019-03-18 05:08] Alfro commented on #20
Hi @andreacorleto could check this again? The Gateway Timeout should have been fixed.
Also, I have checked with another device with Android 8 and all above links play correctly. Could you confirm it?

[2019-03-18 05:16] Alfro commented on #12
Hi @lionick
Is this issue still relevant? I don't seem to be able to reproduce the above issues anymore.

[2019-03-18 07:03] lionick commented on #30
Thank you Alfonso!

[2019-03-18 07:03] #30 closed, assigned to rubenrua

[2019-03-18 07:03] lionick commented on #25
Thank you Alfonso!

[2019-03-18 07:03] #25 closed, assigned to rubenrua

[2019-03-18 07:04] lionick commented on #19
Thanks a lot!

[2019-03-18 07:04] #19 closed, assigned to rubenrua

[2019-03-18 10:57] andreacorleto commented on #20
Hi @Alfro, the Gateway Timeout is fixed, but I (and my colleagues Eleonora and Ilaria too) have still issues with video player for the videos mentioned above.  The video player reports an error on loading media. The same happens with Ilaria (Xiaomi A1 - Android 9) and Eleonora (Huawei P9 - Android 7) smartphones.

[2019-04-04 08:27] #12 closed, assigned to rubenrua

[2019-04-08 06:45] lionick opened #31 "Video deleted from Ariadne is still on eduOER"
A video which was deleted from Ariadne still remains on eduOER.
https://eduoer.up2university.eu/video/5c449592e11a28796e8b4570

Ariadne url for item's repository:
https://oer.up2university.eu/search/v1/akif?set=Up2U_Repository

[2019-04-12 09:27] lionick opened #32 "Urgent! All(?) Videos not playing in eduOER"
I tried to open 3-4 videos from different providers and none played.  I get this in console:
**NotAllowedError: The play method is not allowed by the user agent or the platform in the current context, possibly because the user denied permission.**
Please see it with priority.

@vgoya @iliashatzakis

[2019-04-12 09:28] lionick commented on #32
![Screenshot from 2019-04-12 12-27-35](https://user-images.githubusercontent.com/44701697/56027267-68ca4800-5d1e-11e9-97fd-18720a0376e1.png)

[2019-04-12 10:06] rubenrua commented on #32
The new version of firefox blocks autoplay.

https://hacks.mozilla.org/2019/02/firefox-66-to-block-automatically-playing-audible-video-and-audio/

[2019-04-12 10:43] rubenrua commented on #32
The video plays if autoplay is disabled: `https://eduoer.up2university.eu/video/5c3ae0fde11a28b43a8da309?autostart=false`

Posible solutions are:

 * Disable autoplay in all browsers.
 * Disable autoplay only in firefox.
 * Mute the video.
 * Use paella player (check https://eduoer.test.up2university.eu/video/5c3af41e35f525f8708d480b)

[2019-04-12 12:39] rubenrua commented on #32
Temporally we are going to disable autoplay in all browsers.

[2019-05-06 08:04] rubenrua commented on #31
https://eduoer.up2university.eu/video/5c449592e11a28796e8b4570 returns `404`

[2019-05-06 08:12] lionick commented on #31
Thanks!

[2019-05-06 08:12] #31 closed, assigned to rubenrua

[2019-06-03 06:10] #32 closed, assigned to rubenrua

[2019-06-03 06:15] lionick opened #33 "FCCN Videos are not playable"
Hi,
FCCN's videos are not playable through the player.  https://eduoer.up2university.eu/searchmultimediaobjects?search=&tags%5B%5D=FCCN&tags%5B%5D=&language=&year=&duration=&type=

Can we just remove FCCN from eduOER platform?

Thanks in advance.

@iliashatzakis @vgoya

[2019-06-04 07:59] lionick opened #34 "EduOER takes too long to load"
Hi,
eduOER takes too long to load even the first page. (Takes about 10seconds).
![Screenshot from 2019-06-04 10-59-20](https://user-images.githubusercontent.com/44701697/58861793-d445eb80-86b7-11e9-9335-8ecf0fa17965.png)

@vgoya @iliashatzakis

[2019-06-24 06:40] lionick opened #35 "504 Gateway Time-out"
Hi, when I click to go to the 2nd,3rd,4th etc page of results (https://eduoer.up2university.eu/searchmultimediaobjects?page=2) I get 504 Gateway Time-out.
Can you see what's happening?

@vgoya @iliashatzakis

[2019-06-25 15:43] Alfro commented on #35
Hi @lionick, this doesn't seem to be happening anymore. Can you confirm?

[2019-06-26 06:15] lionick commented on #35
Hi Alfonso!
Yes, now seems to be fine! Thanks!

[2019-06-26 06:15] #35 closed, assigned to Alfro

[2019-07-19 08:47] michzimny commented on #34
Moreover, for the test instance (https://eduoer.test.up2university.eu/searchmultimediaobjects), it takes now 40-50 seconds to see the page. TCP connection and SSL handshake is quick as usual, but then client sends the actual HTTP requests, and the server responds after 40+ seconds. This behaviour is experienced in Poland, Germany and Belgium.

Please try to fix it.

[2019-07-22 05:55] lionick commented on #34
I think that test instance of eduOER is not used anymore, neither test instance of Moodle is using it, as is using the production instance. @Alfro can you confirm this? Although needs to be fixed. Alfonso can you fix this? If there is anything I can do, let me know.

[2019-07-30 11:51] Alfro commented on #34
Hello everyone,

Yes, the test instance is only being used in the test Moodle instance (https://learn-dev.test.up2university.eu/)

Both production instances of Moodle (the main instance and the pilots instance) are linked to both the production eduoer instance and the production Poddium instance.

[2019-07-30 13:29] Alfro commented on #34
Regarding load times, to my knowledge the production instance is heavily cached, so most requests shouldn't take more than a second. Uncached requests do take about 10-15 seconds to process, so we will take a look to see if there is any way we can improve those times with the given resources.

The test instance being slower than production can't be helped though, to my knowledge the resources on t

[2019-07-30 16:22] michzimny commented on #34
Hi @Alfro, thank you for explaining.

In WP7, we'd like to make performance tests to check how the services behave under large traffic load. It seems there is no sense in making such tests against the test instance. Should we make our tests against the production instance, once we agree the proper time with you?

[2019-07-31 09:34] Alfro commented on #33
Hi @lionick

Shouldn't it be removed from the ARIADNE endpoint instead?

Kind regards,

[2019-07-31 09:45] Alfro commented on #27
Hi @lionick
I see there have been many repositories which already got updated, but some are still missing. Will you be able to add them as well?

[2019-07-31 10:33] Alfro commented on #11
The certificate should be generating automatically, I think this can be closed @michzimny

[2019-07-31 10:37] #11 closed, assigned to vgoya, iliashatzakis, lionick

[2019-07-31 14:39] Alfro commented on #13
For this, we would need to switch from JWPlayer to Paella, which already has xAPI support
https://github.com/teltek/PuMuKIT2-up2u-pr-bundle/issues/1

We haven't done the change yet because there is a slight difference in how each player reports errored videos, I'll put a couple of screenshots later on what I mean.

[2019-08-05 08:17] Alfro commented on #29
@lionick Is there a different RSS we can get videos from with correct images? Otherwise I'm tempted to simply close the issue.

[2019-08-20 06:45] dvabad opened #36 "eduOER login and logout do not work"
When the user comes from https://learn.up2university.eu with an active session, on https://eduoer.up2university.eu  he/she does not seem as logged in. And any login attempt fails.

When the user directly uses https://eduoer.up2university.eu/, the login process is successful but logout function does not work.

[2019-08-26 11:08] lionick commented on #29
No i don't think so there is a different RSS. I have reharvest the existed rss. Now seems that they have added some thumbnails.

[2019-10-22 14:23] Alfro commented on #33
@lionick FCCN repository does not seem to be visible on the eduOER platform anymore. I think we can probably close this issue.

[2019-10-23 06:15] lionick commented on #33
yes thank you!

[2019-10-23 06:15] #33 closed, assigned to rubenrua

[2020-01-14 09:19] lionick commented on #34
Hi @Alfro,
It seems we are facing again performance issues.
Can you please take a look?

![Screenshot from 2020-01-14 11-19-02](https://user-images.githubusercontent.com/44701697/72330742-b6b21900-36bf-11ea-8bcd-d5c440373f65.png)

[2020-01-27 11:19] Alfro commented on #34
Hi @lionick

We are reviewing this, we will update the issue once we have more information.

Kind regards,